

.practical-1{
    padding-top: 50px;
    display: inline-flex;
    align-items: center;
}

.practical-2{
    padding-top: 50px;
    padding-inline: 30px;
    display: inline-flex;
    align-items: center;
}

.practical-3{
    padding-top: 50px;
    padding-inline: px;
    display: inline-flex;
  
}

.practical-4{
    padding-top: 50px;
    padding-inline: px;
    display: inline-flex;
  
}

.practical-5{
    padding-top: 50px;
    padding-inline: px;
    display: inline-flex;
  
}

.practical-6{
    padding-top: 50px;
    display: inline-flex;
    align-items: center;
}

.practical-7{
    padding-top: 50px !important;
    display: inline-flex;
    align-items: center;
  
}

.practical-8{
    padding-top: 50px;
    padding-inline: px;
    display: inline-flex;
  
}

.practical-9{
    padding-top: 50px;
    padding-inline: px;
    display: inline-flex;
  
}

#CSS_Practicals{
    padding-top: 50px;
}

#more-info{
    margin-top: 50px;
}

#C_Practicals{
    padding-top: 50px;
}

button{
    margin-top: 50px !important;
}



.c_code-1{
    margin-top: 50px;
    margin: 30px;
    display: inline-flex;
    align-items: center;
    
}

.c_code-2{
    margin-top: 50px;
    margin: 5px;
    padding-bottom: 15px;
    display: inline-flex;
    align-items: center;
    
}
